top; configure terminal;

# configuration generated Fri May 24 09:56:27 2019; firmware version 308611

%if% available "user"

user "admin"
  summary "Administrator"
  password-hashed "$1$kjIi/dH2$HwPx6y.fZYks4hw8tG.Dk."
  access-level privileged
exit

user "steve"
  summary "Backup admin"
  password-hashed "$1$DfRNYc6l$wboM9MgdXX6xbbRgYFV8w0"
  access-level privileged
exit

%endif%
